.ym-home {
  .ym-layout-content {
    .ym-show-video {
      height: 500px;
      background-color: bisque;
    }
    .ym-show-photo {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      background-color: coral;
    }
  }
}