@moment: ~"@{ym}-moment";

.@{moment} {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .@{ym}-image {
      margin: 10px;
      box-shadow: 0 0 10px;
      color: #dddddd;
    }
  }
}